.topPart{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 5%;
    background-color: rgb(28, 28, 128);
    color: white;
    border-radius: 5px;
}

#enterNote{
    float: right;
    margin-right: 2%;
    background-color: green;
    padding-left: 5%;
    padding-right: 20%;
    color: white;
    min-height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#noteList {
    list-style: Number;
}

#notes{
    float: left;
    margin-left: 2%;
    margin-bottom: 10px;
    padding-right: 15%;
    padding-left: 5%;
    background-color: rgb(126, 41, 41);
    color: white;
    border-radius: 10px;
    min-height: 200px;
}

#button{
    color: white;
    background-color: brown;
    padding: 20px 15px;
    margin-left: 42%;
    margin-top: 70px;
    cursor: pointer;
}

#button:hover{
    background-color: rgb(24, 24, 70);
}